
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --azul-oficial: #13253b;
    --primary1: var(--azul-oficial);
    --primary2: #145079;
    --primary: #145079;
    --secondary: #6c7a7d;
    --info: #23ccef;
    --info2: #23ccef;
    /* --success: #28a743; */
    /* --danger: #dc6335; */
    --success: #2bac61;
    /* --success: #158045; */
    /* --danger: #d31616; */
    --danger: #cb3d2d;
    --warning: #d39e00;
    --light: #f0f3f5;
    --dark: #2f353a;
    --white: #fff;
    --green-callevo: #96b741;
    --orange: #ff950a;
    --gray-light: #ebebeb;

    --blur: 1.9599999999999997px;
    --spread: -1.4px;
    --horiz: 0.8619260654559223px;
    --vert: 1.1032150550494102px;
}


body{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: rgb(240, 240, 240);
    padding: 0;
    margin: 0;
}


.special{
    font-family: "Edu AU VIC WA NT Hand", "Roboto", Arial;
    /* font-family: "Oswald", "Roboto", Arial; */
    /* font-family: "Roboto", "Roboto", Arial; */
    font-weight: 400;
}

.text-oficial { color: var(--azul-oficial)}

.btn-primary {background-color: var(--primary) !important; border: var(--primary); }
.btn-primary:hover { opacity: 0.80; }

.btn-info {background-color: var(--info) !important; border: var(--info); color: white }
.btn-info:hover { opacity: 0.80; color: white }

.btn-success { background-color: var(--success) !important; }
.btn-success:hover { opacity: 0.80; }

.btn-warning { background-color: var(--warning) !important; }
.btn-warning:hover { opacity: 0.80; }

.btn-danger { background-color: var(--danger) !important; }
.btn-danger:hover { opacity: 0.80; }


.text-primary { color: var(--primary) !important; }
.text-info { color: var(--info) !important; }
.text-success { color: var(--success) !important; }
.text-danger { color: var(--danger) !important; }
.text-warning { color: var(--warning) !important; }

.bg-primary { background-color: var(--primary) !important; }
.bg-info { background-color: var(--info) !important; }
.bg-success { background-color: var(--success) !important; }
.bg-danger { background-color: var(--danger) !important; }
.bg-warning { background-color: var(--warning) !important; }
.bg-gray-light { background-color: var(--gray-light) !important; }

.btn-block{
    width: 100%;
}

.bold{
    font-weight: 700;
}

.mr-1 {margin-right: 4px;}
.mr-2 {margin-right: 8px;}
.mr-3 {margin-right: 12px;}
.mr-4 {margin-right: 16px;}
.mr-5 {margin-right: 20px;}


.t10 {font-size: 10px;}
.t12 {font-size: 12px;}
.t14 {font-size: 14px;}
.t16 {font-size: 16px;}
.t18 {font-size: 18px;}
.t20 {font-size: 20px;}
.t25 {font-size: 25px;}
.t30 {font-size: 30px;}
.t35 {font-size: 35px;}
.t40 {font-size: 40px;}
.t45 {font-size: 45px;}
.t50 {font-size: 50px;}
.t60 {font-size: 60px;}
.t70 {font-size: 70px;}
.t80 {font-size: 80px;}
.t90 {font-size: 90px;}
.t100 {font-size: 100px;}


.login-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}



.login-screen{
    /* width: 500px; */
    background-color: rgb(255, 255, 255);
    /* border: 1px solid #c2c2c2; */
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
}



@media (max-width: 450px) {
    .login-screen{
        width: 85vw !important;
        /* width: 100%; */
    }
}

@media (min-width: 2000px)  {
    .login-screen{
        width: 1000px !important;
        font-size: 2em;
        /* width: 100%; */
    }
}

.box { 
    border-radius: 15%;
    border: 1px dashed #696969;
    padding: 13px;
    /* background-color: var(--primary); */
    background-color: var(--primary);
    /* color: var(--primary); */
    color: #ffffff;
    font-size: 1.2em;
    box-shadow: calc(clamp(0px, var(--horiz), 2px)) calc(clamp(0px, var(--vert), 2px)) 2px calc(var(--spread)) rgba(0, 0, 0, 0.233), calc(2 * var(--horiz)) calc(2 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.20), calc(3 * var(--horiz)) calc(3 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.123), calc(5 * var(--horiz)) calc(5 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.076), calc(8 * var(--horiz)) calc(8 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.047), calc(13 * var(--horiz)) calc(13 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.028);
    border: 1px solid rgba(0, 0, 0, 0.068);
}

.border-down{
    border-bottom: 1px dashed #999999;
}

.hide {
    display: none;
}


.rotate_div {
    position: absolute;
    display: flex;
    top:0;
    left:0;
    width: 100vw !important;
    height: 100vh !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    /* background-color: rgba(255, 255, 255, 0.8) !important; */
    z-index:99999;
}

.rotate_child {
    margin: 200px 45vw;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color:#fff;
}

.rotate {
    animation: spin 2s infinite;
}

.rotate img{
    width: 100px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
